@import "src/styles/variables";
.IconBox {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 50px;
  padding: 2px 17px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
  border: 1px solid $white;


  > span {
    display: inline-block;

    > * {
      height: 40px;
      width: 50px;
      color: $white;
    }
  }

  > p {
    font-size: $font-md-18;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
  }
}
.active {
    background-color: $white;
    > span * {
        color: $black !important;
    }

    > p {
        color: $black;
    }
}