@import "src/styles/variables";
@import "src/styles/mixin";
@import "src/styles/breakpoints";

.root {
  display: flex;
  width: 100%;
  padding: 10px;
  min-height: 230px;
  border: 1px solid $grayish-400;

  @include breakpoint-down(medium) {
    flex-direction: column !important;
  }
  margin-top: 10px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.imageBox {
  width: 200px;
  min-height: 100%;
  background-color: $yellow-400;

  @include breakpoint-down(medium) {
    width: 90%;
    margin: 0 auto;
  }

  > img {
    height: 100%;
    width: 100%;

  }
}

.info {
  display: flex;
  min-height: 100%;
  flex-grow: 1;
  margin-left: 20px;
  @include breakpoint-down(medium) {
    margin-top: 10px;
  }

  &_box {
    width: 64%;

    > h5:last-child {
      font-weight: 500;
      color: $lime-green-500;
    }
  }

  &_name {
    font-size: $font-lg-20;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $blue-mix-600;
  }

  &_address {
    font-size: $font-md-16;
    margin-bottom: 10px;
  }

  &_button {
    padding: 3px 10px;
    margin-bottom: 10px;
    opacity: 0.7;
    cursor: pointer;
    font-size: $font-sm;
    background-color: $lime-green-500;
    color: $white;
    border: none;

    &:hover {
      opacity: 1;
    }
  }

  &_additional_info {
    color: $black;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &_desc {
    margin-bottom: 10px;
  }

  &_cancel {
    color: $lime-green-600;
    font-weight: 700;
    margin-bottom: 10px;
  }


  &_price_box {
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > p {
      margin-bottom: 10px;
      font-size: $font-lg-32;
      font-weight: 500;
      color: $grayish-600;
    }

    > h5 {
      font-size: $font-sm;
      margin-bottom: 15px;
      color: $grayish-600;
    }

    > button {
      padding: 6px 10px;
      font-size: $font-md-18;
      font-weight: 400;
      opacity: 0.7;
      cursor: pointer;
      background-color: $blue-mix-600;
      color: $white;
      border: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}
