@import "src/styles/variables";

.root {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 600px;
  height: 500px;
  padding: 10px;
  transform: translateX(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background-color: $white;


  .buttonClose {
    display: block;
    margin-left: auto;
    font-size: $font-lg-20;
    cursor: pointer;
    border: none;
    background: none;
  }

  > h1 {
    font-size: $font-lg-30;
    font-weight: 500;
    margin-bottom: 20px;
    color: $gray-700;
  }
}

.cartBox {
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;


  &_left {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;

    > p:nth-child(3) {
      font-weight: 500;
    }

    > h3 {
      font-size: $font-lg-20;
      font-weight: 500;
    }
  }
  &_right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5px;

      > label {
        color: $grayish-450;
      }

      > input {
        height: 24px;
        width: 24px;
      }

    }
  }


}



.button {
  width: 100%;
  padding: 10px 0;
  font-size: $font-md-16;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.7;
  cursor: pointer;
  color: $white;
  background-color: $green-mix-400;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.scroll {
  overflow-y: scroll;
}