.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 100px auto;

  > label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  > input {
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 25px;
  }
  > button {
    padding: 10px 0;
    font-size: 20px;
  }
}