@import "src/styles/variables";
@import "../../styles/breakpoints";

.title {
  margin: 40px 0;
  font-size: $font-lg-30;
  font-weight: 700;
  color: $gray-700;

  @include breakpoint-down(medium) {
    text-align: center;
  }
}