@import "../../../styles/variables";
@import "../../../styles/breakpoints";
@import "../../../styles/mixin";


.root {
  position: relative;
  height: 450px;
  width: 100%;
  padding: 0 30px;
  color: $white;
  background-color: $blue-mix-600;

  @include breakpoint-down(medium) {
    height: 100%;
    padding: 10px;

  }
  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 15px;


    > p:nth-child(2) {
      font-size: $font-lg-30;
      font-weight: 500;
      letter-spacing: 2px;

    }

    > nav {
      > ul {
        display: flex;
        align-items: center;

        > p {
          margin-right: 20px;
          font-size: $font-lg-20;
          @include breakpoint-down(medium) {
            display: none;
          }
        }
        > li {
          &:not(:last-child) {
            margin-right: 10px;
          }

          > a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 30px;
            font-weight: 600;
            background-color: $white;
            color: $black;
          }
        }
      }
    }
    @include breakpoint-down(medium) {
      margin: 0;
      padding: 10px;
      background-color: $blue-mix-600;
    }
  }

  .title {
    margin-bottom: 30px;
    font-size: $font-lg-45;
    font-weight: 600;
    letter-spacing: 1px;

    @include breakpoint-down(medium) {
      font-size: $font-lg-30!important;
      text-align: center!important;
    }
  }
  .descTitle {
    @include breakpoint-down(medium) {
      text-align: center!important;

    }
  }


  .icons {
    margin-bottom: 60px;
    @include breakpoint-down(medium) {
      display: none;
    }

    > span {
      display: inline-block;

      > * {
        height: 40px;
        width: 50px;
        color: $white;
      }
    }
  }
}

.box {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: $blue-mix-600;
  color: black;

  @include breakpoint-down(medium) {
    display: none;
    height: 0;
  }

  > div {
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 60px;
    width: 100%;
    transform: translateX(-50%);
    border: 3px solid $yellow-400;
    background-color: $white;
  }
}


.headerSearchBox {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 5px;
  padding: 0 10px;
  color: $gray-350;


  > button {
    width: 80px;
    height: 100%;
    margin-left: 10px;
    color: $white;
    background-color:$blue-500;
  }
  > input {
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
    font-size: $font-lg-20;
    border: none;
    outline: none;
  }

  .Icon {
    margin-right: 19px;
  }

  .searchDate {
    position: relative;
    flex-grow: 1;
  }

  .searchBox {
    position: absolute;
    left: 35%;
    top: 50px;
  }
  .optionCountBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    > div {
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
      }

    }

    * > button {
      height: 30px;
      width: 30px;
      font-size: $font-md-16;
      margin: 0 5px;
    }

  }
}

.visible {
  position: fixed;
  height: 120px;
  top: 0;
}

.fix {
  width: 100%;
  @extend .move;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 12;
}

.logo {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}


@keyframes fade-in {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}

.move {
  animation: fade-in 300ms;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    top: 25px;
  }
  to {
    top: -50px;
  }
}

.moveOut {
  animation: fade-out 300ms;
  animation-fill-mode: forwards;
}

.homePath {
  height: 180px;
  @include breakpoint-down(medium) {
    height: 80px !important;
  }
}


.burger {
  display: none;
  @include breakpoint-down(medium) {
    display: inline-block;
    font-size: $font-lg-40;
    cursor: pointer;
  }
  .openBurgerMenu {
    position: fixed;
    z-index: 30;
  }
}
.openMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  min-height: 100vh;
  background-color: $blue-mix-600;
  padding: 70px 0;
  @include transition(left);
  @include breakpoint-up(large) {
    display: none;
  }
}
.closeMenu {
  position: absolute;
  left: -110%;
  top: 0;
  z-index: 20;
  @include transition(left);
  width: 100%;
  min-height: 100vh;
  background-color: $blue-mix-600;
}

.pageSignUp {
  height: 66px!important;
}
.logo {
  cursor: pointer;
}